*{
   
    box-sizing: border-box;
    font-family: "popping",sans-serif;
  
    
}
.container-md{
    position: relative;
    left: 80px;
   
    height: 100vh;
    width: 1200px;
    
}
.css-1cfa7ym{
    margin-right: 100px;
    height: 80vh;
  margin-top: 100px;

 


}
.pass{
    display: block;
    position: fixed;
    padding-left: 80px;
    top: 220px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}
.id{
    font-size: 17px;
font-weight: 400;
line-height: 20px;
    display: block;
    position: fixed;
    padding-left: 70px;
    top: 200px;
}

.main2{
   
   
    display: flex;
    flex-direction: column;
    
  
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.singin{
    font-family: Maven Pro;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
    
text-align: center;
}
.start{
   
    padding-left: 55px;

    font-family: Maven Pro;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
width: 235px;

top: 282.94287109375px;
left: 583.5px;

/* text-align: center; */
}
.contain{
   
    height: 20vh;
    margin-top: 50px;
    width: 275px;
    
    
}
.text{
    position: relative;
    
}
.eye{
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    
   
}
.bt{
    width: 200px;
padding-left: 50px;
}
.sing{

   left: 20px; 
}
.ac{  position: relative;
    bottom: 37px;
    color: rgb(1, 61, 139);
    left: 130px;
    font-family: Maven Pro;
font-size: 19px;
font-weight: 600;
line-height: 45px;
text-align: center;
text-decoration: none;
}
.ac:hover{
    text-decoration: underline;

}

