.maindiv {
  
 position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  color: #1b2437;
  position: relative;
  background-color: #f5f4fa;
 
}
.icon{
  cursor: pointer;
  font-size: 29px;
  position:absolute;
  /* background-color: aqua; */
left: 0px;
top: 50px;

}

.qsb-header-container {

min-width: 300px;
  padding: 70px 0 39px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,#f5f4fa,rgba(251,251,253,0));
}
.qsb-header-container .qsb-byLine {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--N800);
}
.searchbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
 
}
.search{ 
 max-width: 400px;
 min-width: 320px;
  height: 5ch;
 text-align: center;
  font-size: large;
  border-radius: 50px;
  border-color: black;
}
.h2{
text-align: center;
}
.search::placeholder{
  text-align: center;
font-size: large;
margin-right: 30px;
 border-radius: 50px;

right: 100px;

}
.faMagnifyingGlass{
position: relative;
color: rgb(6, 189, 189);
top: 15px;
left: 8ch;
font-size: 25px;
}

h2 {
  display: block;
  font-size: 1.9em;
  font-weight: bold;
} 

.cardhead{
  margin-top: 30px;

  display: flex;
 row-gap: 20px;
 column-gap: 20px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
min-width: 600px;


 
  
}
.remote{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.card{
  
width: 170px;
  cursor: pointer;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E7E7F1;
    border-radius: 10px;
    padding: 16px;
    
}
.card1{
  margin-top: 10px;
  width: 230px;
  position: relative;
      height: 120px;
      left: 10px;
      row-gap: 10px;
     display: flex;
     flex-direction: column;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #E7E7F1;
      border-radius: 10px;
      padding: 1px;
      
  }
  .top{
display: flex;
flex-direction: row;
min-width:564px;
max-width: 1250px;
overflow: hidden;
flex-wrap:wrap;
column-gap: 3ch;
justify-content: center;
align-items: center;
  }
  .industry-name {
    
    color: var(--N800, #121224);
    max-width: 175px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    max-height: 54px;
}
a {
  outline: none;
  text-decoration: none;
}
.arrow-icon {
  position: absolute;
  cursor: pointer;
  left: 124px;
  top: 5px;
  margin-left: 3px;
  width: 14px;
  height: 13px;
}
.industry-company {
  color: var(--N700, #717B9E);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0px;}
 .industry-card {
    background: var(--N200, #FFFFFF);
    padding: 20px;
    border: 1px solid var(--N400, #E7E7F1);
    -webkit-box-shadow: 0px 6px 12px var(--Ev100, rgba(30, 10, 58, 0.04));
    box-shadow: 0px 6px 12px var(--Ev100, rgba(30, 10, 58, 0.04));
    border-radius: 10px;
    cursor: pointer;
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

 .industry_widget_logos img {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
}

.chip-image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px 0 0px;
  border: 1px solid var(--N400, #E7E7F1);
  border-radius: 7px;
  overflow: hidden;
}

.jobTuple {
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear,-webkit-box-shadow .2s linear;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(30,10,58,.04);
  box-shadow: 0 6px 12px rgba(30,10,58,.04);
  border-radius: 20px;
  margin-bottom: 16px;
}

.featuredCompaniesContainer {
  margin-top: 20px;
  padding: 20px 20px 20px 10px!important;
  border: 1px solid #e7e7f1;
  border-radius: 10px!important;
  width: 230px;
  margin-left: 7px;
}
.featuredCompaniesHeader p {
  font-size: 14px;
}
.featuredCompaniesContainer .featuredCompaniesHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
  color: #121224;
}
.featuredCompaniesContainer .featuredCompaniesBody .featuredCompaniesList {
  padding: 0px;
}

.featuredCompaniesContainer .featuredCompaniesBody .featured-companies-li-wrapper {
  display: inline-block;
  border: 1px solid #e7e7f1;
  border-radius: 10px;
  margin-top: 3px;
  overflow: hidden;
  position: relative;
  height: 46px;
}
.list{
  display: flex;
  flex-direction: row;
justify-content:space-between ;
}
.job{
right: 100px;
}
@media only screen and (max-width: 730px) {
 .featuredCompaniesContainer{ 
  display: none;
 }

 .maindiv {
 max-width: 500px;
 min-width: 600px;
}
}